absl-py==0.12.0
aio-pika==6.8.0
aiofiles==0.7.0
aiohttp==3.7.4
aiohttp-retry==2.4.6
aiormq==3.3.1
alabaster==0.7.12
alembic==1.4.3
altair==4.1.0
aniso8601==9.0.1
appdirs==1.4.4
APScheduler==3.7.0
argon2-cffi==20.1.0
arrow==1.2.1
asgiref==3.2.7
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asyncssh==2.8.1
atomicwrites==1.4.0
atpublic==2.3
attrs==20.3.0
Automat==20.2.0
awscli==1.22.24
azure-devtools==1.2.0
Babel==2.9.1
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.10.0
bidict==0.21.3
binaryornot==0.4.4
bleach==3.3.0
blinker==1.4
blis==0.7.4
boto3==1.17.94
botocore==1.23.24
bs4==0.0.1
cachelib==0.1.1
cachetools==4.2.1
calc==1.0
catalogue==1.0.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
chromedriver-binary==77.0.3865.40.0
clang==5.0
click==7.1.2
cliff==3.5.0
cloudpickle==1.6.0
cmaes==0.7.0
cmd2==1.4.0
colorama==0.4.3
colorclass==2.2.0
coloredlogs==15.0.1
colorhash==1.0.3
colorlog==4.6.2
commonmark==0.9.1
comtypes==1.1.10
ConfigArgParse==1.5
configobj==5.0.6
configparser==5.0.1
constantly==15.1.0
cookiecutter==1.7.3
coverage==6.2
crayons==0.4.0
cryptography==3.4.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.24
deap==1.3.1
decorator==4.4.2
defusedxml==0.6.0
dictdiffer==0.9.0
dill==0.3.1.1
diskcache==5.3.0
distlib==0.3.0
distro==1.6.0
Django==3.0.7
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
dm-tree==0.1.6
dnspython==1.16.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
dpath==2.0.5
dulwich==0.20.26
dvc==2.9.2
en-core-web-sm==2.3.1
entrypoints==0.3
fbmessenger==6.0.0
filelock==3.0.12
flake8==4.0.1
Flask==1.1.2
Flask-Dance==3.3.1
Flask-DebugToolbar==0.11.0
Flask-Migrate==2.7.0
Flask-OAuth==0.12
Flask-OAuthlib==0.9.6
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
flatbuffers==1.12
flatten-dict==0.4.2
flufl.lock==6.0
fsspec==2021.11.1
ftfy==6.0.3
funcy==1.16
future==0.18.2
gast==0.4.0
gitdb==4.0.5
GitPython==3.1.12
google-api-core==1.30.0
google-api-python-client==1.7.8
google-auth==1.32.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.5
google-cloud==0.34.0
google-cloud-aiplatform==1.8.1
google-cloud-bigquery==2.31.0
google-cloud-bigtable==2.3.1
google-cloud-core==1.7.2
google-cloud-pubsub==2.9.0
google-cloud-storage==1.43.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
grandalf==0.6
graphviz==0.16
greenlet==1.0.0
grpc-google-iam-v1==0.12.3
grpcio==1.39.0
h11==0.9.0
h2==3.2.0
h5py==3.1.0
hdfs3==0.3.1
hpack==3.0.0
httpcore==0.11.1
httpie==2.4.0
httplib2==0.19.1
httptools==0.3.0
httpx==0.15.4
humanfriendly==10.0
hyperframe==5.2.0
hyperlink==21.0.0
hyperopt==0.2.5
idna==2.10
imagesize==1.3.0
imbalanced-learn==0.7.0
imblearn==0.0
importlib-resources==5.2.2
incremental==21.3.0
inflect==5.3.0
iniconfig==1.1.1
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itemadapter==0.4.0
itemloaders==1.0.4
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==0.16.0
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kafka-python==2.0.2
keras==2.6.0
Keras-Preprocessing==1.1.2
keras-tuner==1.0.2
kiwisolver==1.2.0
kneed==0.7.0
labelImg==1.8.5
lazy==1.4
libcst==0.3.23
login==0.0.6
lxml==4.6.3
mailchecker==4.1.6
Mako==1.1.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.2.2
mattermostwrapper==2.2
mccabe==0.6.1
mistune==0.8.4
modin==0.8.3
msedge-selenium-tools==3.141.3
multidict==5.0.0
murmurhash==1.0.5
mypy-extensions==0.4.3
mysql-connector==2.2.9
mysql-connector-python==8.0.25
nanotime==0.5.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5
nltk==3.6.7
notebook==6.2.0
numpy==1.19.5
oauth2==1.9.0.post1
oauth2client==4.1.3
oauthlib==2.1.0
opencv-contrib-python==4.5.1.48
opencv-python==4.4.0.46
opt-einsum==3.3.0
optuna==2.3.0
outcome==1.1.0
packaging==20.8
pamqp==2.3.0
pandas==1.1.5
pandocfilters==1.4.3
parsel==1.6.0
parso==0.8.1
pathspec==0.9.0
pathtools==0.1.2
patternsextra==1.0
pbr==5.5.1
phonenumbers==8.12.39
pickleshare==0.7.5
Pillow==7.2.0
plac==1.1.3
pluggy==0.13.1
ply==3.11
portalocker==2.3.0
poyo==0.5.0
preshed==3.0.5
prettytable==0.7.2
priority==1.3.0
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==2.0.10
Protego==0.1.16
proto-plus==1.19.8
protobuf==3.19.1
psutil==5.8.0
psycopg2-binary==2.9.1
py==1.10.0
py4j==0.10.9
pyaml==20.4.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.20
pydeck==0.5.0
PyDispatcher==2.0.5
pydot==1.4.2
pydotplus==2.0.2
PyDrive2==1.10.0
pyflakes==2.4.0
pygame==2.0.1
pygit2==1.7.2
Pygments==2.7.4
pygtrie==2.4.2
PyJWT==2.1.0
pykwalify==1.8.0
pymongo==3.10.1
pymssql==2.2.1
PyMySQL==1.0.2
pyodbc==4.0.31
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.1
pypiwin32==223
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyreadline==2.1
pyreadline3==3.3
pyrsistent==0.17.3
PySocks==1.7.1
pyspark==3.1.2
pyTelegramBotAPI==3.8.3
pytest==6.2.2
python-benedict==0.24.3
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-dotenv==0.19.2
python-editor==1.0.4
python-engineio==4.2.1
python-fsutil==0.5.0
python-slugify==5.0.2
python-socketio==5.4.1
pyttsx3==2.90
pytz==2020.1
pywin32==300
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==22.0.2
qtconsole==5.2.2
QtPy==2.0.0
questionary==1.9.0
queuelib==1.6.2
rasa==2.8.10
rasa-sdk==2.8.2
redis==3.5.3
regex==2021.11.10
regexp==0.1
requests==2.25.1
requests-oauthlib==1.1.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==10.16.0
rocketchat-API==1.16.0
rsa==4.7.2
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
sacrebleu==2.0.0
sacremoses==0.0.43
sanic==20.9.1
Sanic-Cors==0.10.0.post3
sanic-jwt==1.5.0
Sanic-Plugins-Framework==0.9.5
scikit-learn==0.23.1
scipy==1.5.1
scmrepo==0.0.4
Scrapy==2.5.1
seaborn==0.10.1
selenium==4.1.0
Send2Trash==1.5.0
sentencepiece==0.1.95
sentry-sdk==0.19.5
seqeval==1.2.2
service-identity==21.1.0
shortuuid==1.0.1
shtab==1.5.2
simpletransformers==0.60.2
six==1.15.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
smmap==3.0.5
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
spacy==2.3.5
Sphinx==4.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.5
SQLAlchemy-Utils==0.36.8
sqlparse==0.3.1
-e git+https://github.com/vikas136/newmlopsproject.git@31c35c53fdb315376fdf7a94ff1974fccc676ee2#egg=src
srsly==1.0.5
stanfordnlp==0.2.0
stevedore==3.3.0
stopit==1.1.2
streamlit==0.75.0
subprocess32==3.5.4
svgwrite==1.4.1
tabulate==0.8.9
tarsafe==0.0.3
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
tensorflow==2.6.0
tensorflow-addons==0.14.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.2.0
tensorflow-model-optimization==0.6.0
tensorflow-probability==0.13.0
tensorflow-text==2.6.0
termcolor==1.1.0
terminado==0.9.2
terminaltables==3.1.0
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
tf-slim==1.1.0
tflearn==0.5.0
thinc==7.4.5
threadpoolctl==2.1.0
tokenizers==0.10.0
toml==0.10.2
toolz==0.11.1
torch==1.9.0
torchvision==0.10.0
tornado==6.1
TPOT==0.11.7
tqdm==4.48.0
traitlets==5.0.5
transformers==4.2.2
Tree==0.2.4
trio==0.19.0
trio-websocket==0.9.2
twilio==6.50.1
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typeguard==2.12.1
typing-extensions==3.7.4.3
typing-inspect==0.7.1
tzlocal==2.1
ujson==4.2.0
update-checker==0.18.0
uritemplate==3.0.1
urllib3==1.26.7
URLObject==2.4.3
validators==0.18.2
vcrpy==4.1.1
virtualenv==20.0.23
virtualenvwrapper-win==1.2.6
voluptuous==0.12.2
w3lib==1.22.0
wandb==0.10.17
wasabi==0.8.0
watchdog==1.0.2
wcwidth==0.2.5
webdriver-manager==3.5.2
webencodings==0.5.1
webexteamssdk==1.6
websockets==8.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
wsproto==1.0.0
WTForms==2.3.3
xgboost==1.3.1
xmltodict==0.12.0
yarl==1.6.3
zc.lockfile==2.0
zipp==3.5.0
zope.interface==5.4.0
